#mainEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
#nextEvents {
  width: 100%;
  display: flex;
  align-items: start;
  padding-left: 10%;
  padding-bottom: 20px;
}
#mainEventsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  flex-wrap: wrap;
  padding: 0.3rem 2rem;
  line-height: 1.5rem;
}

#mainEventsContainer > li {
  width: 210px;
  padding-bottom: 20px;
  background-color: var(--eri-color-background-disfued);
  border-radius: 20px;
  box-shadow: 0px 0px 57px -10px rgba(0, 0, 0, 0.75);
}
.moreInfobtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}
.infoBtn {
  background-color: var(--eri-color-background-button);
  border: 2px solid var(--eri-color-background-button-hard);
  border-radius: 10px;
  width: 40%;
  padding: 5px;
  cursor: pointer;
}
.infoBtn:hover {
  background-color: var(--eri-color-background-button-hard);
  color: var(--eri-color-background-primary);
  border: 2px solid var(--eri-color-background-button);
  transform: scale(1.1);
  transition: transform 0.2s;
}
.clipped-border {
  overflow: hidden;
  display: block;
  background: linear-gradient(grey, lightgrey);
  width: 210px;
  height: 280px;
  border-radius: 15px;
}
.clipped-border:before {
  content: '';
  display: inline-flex;
  position: relative;
  opacity: 0.5;
  width: 380px;
  height: 40px;
  background: white;
  top: 60px;
  left: 70px;
  z-index: 2;
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.clipped-border:hover:before {
  transform: translate(-340px, 460%) rotate(45deg);
  transition: transform 0.4s;
  z-index: 10;
}

.clipped-border:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
}
.imgEvent {
  width: 96%;
  height: 97%;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
  top: -42px;
}
#moreEventsLink {
  margin: 5px 0;
  display: flex;
  max-width: 140px;
  max-height: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.text {
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  color: hsla(0, 0%, 0%, 0.9);
  font: normal 2rem Varela Round, sans-serif;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow: -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  50% {
    text-shadow: 0 hsla(180, 100%, 50%, 1), 3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  100% {
    text-shadow: -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}
.descriptionContainer {
  display: flex;
  justify-content: center;
}
#mainDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  background-color: var(--eri-color-background-disfued);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 57px -10px rgba(0, 0, 0, 0.75);
}
#mainDescription > p {
  font-weight: bold;
}
@media screen and (width <= 768px) {
  #mainEventsContainer > li {
    width: 210px;
    margin: 10px 0;
  }
  .descriptionContainer {
    margin-top: 10px;
  }
}
@media screen and (width <= 425px) {
}
